* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f9f9f9;
    color: #333;
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: #111;
}

.logo {
    color: #00ffd5;
    font-size: 22px;
    font-weight: bold;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

nav a:hover {
    color: #00ffd5;
}

/* Hero */
.hero {
    height: 90vh;
    background: linear-gradient(to right, #000, #222);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 48px;
}

.hero p {
    margin: 15px 0;
    font-size: 20px;
}

.hero button {
    padding: 12px 25px;
    background: #00ffd5;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

/* Sections */
section {
    padding: 60px 50px;
    text-align: center;
}

.about, .contact {
    background: white;
}

/* Courses */
.course-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.course {
    background: #00ffd5;
    padding: 20px;
    border-radius: 8px;
    font-weight: bold;
}

/* Footer */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}

.admission {
    background: #f0f0f0;
}

.admission form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.admission input,
.admission select {
    padding: 12px;
    font-size: 15px;
}

.admission button {
    background: black;
    color: #00ffd5;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
